<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title> Modules , Basic Controllers , Basic $scope</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet" />
  </head>
  <body ng-controller='MainController'>
        <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>Modules , Basic Controllers , Basic $scope</h3>
          <div class="row">
            <table class="table table-hover">
              <thead>
                 <tr>
                   <th>#</th>
                   <th>First Name</th>
                   <th>Last Name</th>
                   <th>Email</th>
                   <th></th>
                 </tr>
               </thead>
               <tbody>
                 <tr ng-repeat='item in people track by $index'>
                    <th scope="row">{{$index}}</th>
                    <td> {{item.name}}</td>
                    <td> {{item.lastname}}</td>
                    <td> {{item.email}}</td>
                    <td><a href="" title='remove' ng-click='delete($index)'><i class="glyphicon glyphicon-remove"></i></a></td>
                 </tr>
               </tbody>
             </table>
           </div>
           <div class="row">
             <form class="form-inline" name="humanForm">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" name='name' ng-model='humanName' id="firstName" placeholder="John" required>
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name='lastname'  ng-model='humanLastname' id="lastName" placeholder="Doe" required>
              </div>
              <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="text" class="form-control" name='email' ng-model='humanEmail' id="emailInput" placeholder="john.doe@example.com" required>
              </div>
              <button type="button" class="btn btn-default" 
                      ng-disabled="humanForm.$invalid" 
                      ng-click='insert({name: humanName, lastname: humanLastname, email: humanEmail})'> Push data </button>
            </form>
           </div>
          </div>
        </div>
      </div>
      <toaster-container></toaster-container>
      <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
      <script src="js/app.js" charset="utf-8"></script>
      <script src="js/main/controllers/MainController.js" charset="utf-8"></script>
      <script src="bower_components/AngularJS-Toaster/toaster.min.js"></script>
      <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  </body>
</html>
